<div class="col-12 card">
    <div class="row">
        <div class="col-6">
            <h1>Registration Form</h1>
            <div class="row">
                <form>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 pt-4 px-2">
                                <label for="Firstname">First Name</label>
                            </div>
                            <div class="col-3 pt-4 px-2">

                                <input type="text" placeholder="First Name">

                            </div>
                            <div class="col-3 pt-4 px-2">
                                <label for="Lastname">Last Name</label>
                            </div>
                            <div class="col-3 pt-4 px-2">
                                <input type="text" placeholder="Lastname">

                            </div>
                            <div class="col-3 pt-4 px-2">
                                <label for="Password">Password</label>
                            </div>
                            <div class="col-3 pt-4 px-2">


                                <input type="Password" placeholder="Password">

                            </div>
                            <div class="col-3 pt-4 px-2">
                                <label for="DOB">DOB</label>
                            </div>
                            <div class="col-3 pt-4 px-2">
                                <input type="date" placeholder="Date of Birth">

                            </div>
                            <div class="col-3 pt-4 px-2">
                                <label for="Phone Number">Phone Number</label>
                            </div>
                            <div class="col-3 pt-4 px-2">
                                <input type="phoneNumber" placeholder="Phone Number">

                            </div>
                            <div class="col-3 pt-4 px-2">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-3 pt-4 px-2">
                                <input type="email" placeholder="Email">



                            </div>
                        </div>
                        <div class="wrapper">

                            <button type="button" class="btn mt-5 btn-primary">Add to Table</button>
                        </div>
                    </div>




                </form>
            </div>

        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <tr style="height:60px; border-width:thin!important;">
                    <th>Sl No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <tr style="height:60px">
                    <td>1</td>
                    <td>Test-1</td>
                    <td>22</td>
                    <td>test@gmail.com</td>
                    <td>8976043212</td>
                </tr>
                <tr style="height:60px">
                    <td>2</td>
                    <td>Test-2</td>
                    <td>22</td>
                    <td>test@gmail.com</td>
                    <td>8976043212</td>
                </tr>

                <tr style="height:60px">
                    <td>3</td>
                    <td>Test-3</td>
                    <td>22</td>
                    <td>test@gmail.com</td>
                    <td>8976043212</td>
                </tr>

                <tr style="height:60px">
                    <td>4</td>
                    <td>Test-4</td>
                    <td>22</td>
                    <td>test@gmail.com</td>
                    <td>8976043212</td>
                </tr>

                <tr style="height:60px">
                    <td>5</td>
                    <td>Test-5</td>
                    <td>22</td>
                    <td>test@gmail.com</td>
                    <td>8976043212</td>
                </tr>

            </table>
        </div>

    </div>
</div>